/* 内容部分主标题 */
.title {
    font-size: 30px;
    padding: 30px 10px;
}
/* 副标题 */
.secondTitle {
    font-size: 25px;
    padding: 30px 10px;
}
/* 代码区 */
.code {
    border: 1px solid #c0c4cc;
    border-radius: 5px;
    width: 700px;
    padding: 20px;
}